/*
 * Fifty shades of grey
 */
$color-extra-light = #fff
$color-lighter = #f8f8f8
$color-light = #d3d3d3
$color-medium = #777
$color-dark = #373737
$color-darker = #252525
$color-extra-dark = #0c0701

/*
 * Project colors
 * place here the color palette of the project
 */

$site-background-color = $color-extra-light

$text-color-light = $color-medium
$text-color-dark = $color-darker

$text-color-default = $text-color-dark
$text-color-secondary = $text-color-light

$shadow-color = rgba($color-darker, 0.6)
