/*
 * Fifty shades of grey
 */
$color-extra-light = #fff
$color-lighter = #f8f8f8
$color-light = #d3d3d3
$color-medium = #777
$color-dark = #373737
$color-darker = #252525
$color-extra-dark = #0c0701

/*
 * Project colors
 * place here the color palette of the project
 */

$color-site-background = $color-extra-light

$color-text-light = $color-extra-light
$color-text-dark = $color-extra-dark

$color-title = $color-extra-dark
$color-text-default = $color-medium
$color-text-secondary = $color-extra-light

$color-shadow = rgba($color-darker, 0.6)
