/**
 * Helpers
 * usage:
 *
 * @import '{PATH_TO_UTILS}/helpers'
 * .list
 *   @extends $helper-name
 */

$remove-list-style
  margin-top 0
  margin-bottom 0
  padding-left 0
  list-style none


$remove-button-style
  background none
  border 0
  padding 0
  outline none

$font-smooth
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

$smooth-scroll
  overflow-y auto
  -webkit-overflow-scrolling touch
